<html>
  <title>{{title}}</title>
{{#if scripts}}
  {{#each scripts}}
  <script type="text/javascript" src="{{this}}"></script>
  {{/each}}
{{/if}}
{{#if styles}}
  {{#each styles}}
  <link rel="stylesheet" href="{{this}}" type="text/css" media="screen" />
  {{/each}}
{{/if}}
<body>

{{#if user}}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function  () {
    $('.dropdown-toggle').dropdown();
  });
</script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Pages
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">List</a></li>
          <li><a href="#">New</a></li>
        </ul>
      </li>
      <li><a href="#">Configuration</a></li>
      <li><a href="#">Users</a></li>
      </ul>
    </div>
  </div>
</div>
{{/if}}

<div class="container">

  {{#if user}}
    <p>Hello {{user.username}}</p>
	  <a href="/logout">Log out</a>
  {{else}}
  	<h3>Log in</h3>
  	<form action="/login" method="post">
  	    <div>
  	    <label>Username:</label>
  	    <input type="text" name="username"/><br/>
  	    </div><div>
  	    <label>Password:</label>
  	    <input type="password" name="password"/>
  	    </div><div>
  	    <input type="submit" value="Log In"/>
  	    </div>
  	</form>
    <h3>Register</h3>
    <form action="/register" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
        </div><div>
        <label>Password:</label>
        <input type="password" name="password"/>
        </div><div>
        <input type="submit" value="Register"/>
        </div>
    </form>
  {{/if}}

{{{content}}}

</div>

</body>
</html>